[mgr]
linemode = "size"
sort_by = "natural"
ratio = [1,3,4]

[preview]
cache_dir = "~/.cache/yazi"
image_filter = "lanczos3"
image_quality = 90
ueberzug_scale = 1
image_bound = [ 10000, 10000 ]

[opener]
media = [
  { run = 'mpv "$@"', orphan = true, for = "unix" }
]
text = [
  { run = 'nvim "$@"', block = true, for = "unix" }
]
pdf = [
  { run = 'masterpdfeditor4 "$@"', orphan = true, for = "unix" }
]
image = [
  { run = 'feh -d -g "1280x768" -. -B "#000000" --start-at "$@"', orphan = true, for = "unix" }
]
docs = [
  { run = 'libreoffice "$@"', orphan = true, for = "unix" }
]

[open]
rules = [
  { mime = "text/*", use = "text" },
  { mime = "video/*", use = "media" },
  { mime = "*.json", use = "text" },
  { mime = "application/pdf", use = "pdf" }, # file --mime-type -b <pdf_file>
  { mime = "audio/*", use = "media" },
  { mime = "image/*", use = "image" },
  { mime = "application/vnd.oasis.opendocument*", use = "docs" }
]

# Some videos do have mime type audio
# TODO: Try mtn
# mtn -f /usr/share/fonts/TTF/DejaVuSerif-Bold.ttf -r 3 -c 3 "${FILE_PATH}" -w 800 -j 50 -i -q -t -O "$(dirname "$IMAGE_CACHE_PATH")" -o .jpg

[plugin]
prepend_previewers = [
  { name = "*.mp4", run = "video" }
]

